table, th, tr,td {
    border: 2px dashed black;
    border-collapse: collapse;
}
 .one a {
    background-color: black;
    /* display: block;  */
    text-decoration: none;
    color: green ;
    padding: 14px 16px;


}
.one a:hover{
    background-color: green;
    color: black;
}
.one a:active{
    background-color: yellow;
    color: red;
}